.single-product-llp {
    width: 211px;
    margin-right: 0px;
    position: relative;
    padding: 0px;
}
a.titlellp{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
}

.productImagellp{
    height: 200px;
    width: 200px
}
