<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product Manage</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- 引入angular的js -->
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <!-- 引入分页相关的JS和CSS -->
    <script type="text/javascript" src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">

    <script type="text/javascript" src="../js/base_pagination.js"></script>
    <script type="text/javascript" src="../js/controller/baseController.js"></script>
    <script type="text/javascript" src="../js/controller/usersController.js"></script>
    <script type="text/javascript" src="../js/service/usersService.js"></script>
    <script type="text/javascript" src="../js/service/uploadService.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="usersController" >
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">User Manage</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <!--<button type="button" class="btn btn-default" title="New" data-toggle="modal" data-target="#editModal" ng-click="entity={}"><i class="fa fa-file-o"></i> New</button>
                                       --> <button type="button" class="btn btn-default" title="Delete" ng-click="dele()"><i class="fa fa-trash-o"></i> Delete</button>
                                        <button type="button" class="btn btn-default" title="Refresh" onclick="window.location.reload();"><i class="fa fa-refresh"></i> Refresh</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
                   <!--               		状态：<select ng-model="searchEntity.auditStatus">
                                         	<option value="">全部</option>      
                                         	<option value="0">未申请</option>    
                                         	<option value="1">审核通过</option>    
                                         	<option value="2">审核未通过</option>    
                                         	<option value="3">关闭</option>                                     
                                        </select>-->
							                  Username：<input type="text" ng-model="searchEntity.goodsName">
									<button class="btn btn-default" ng-click="reloadList()">Search</button>
                                </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue" ng-click ="allSelected($event)">
			                              </th> 
										  <th class="sorting_asc">UserID</th>
									      <th class="sorting">username</th>
									      <th class="sorting">email</th>
									      <th class="sorting">phone</th>
									      <th class="sorting">status</th>
					                      <th class="text-center">operation</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="entity in list">
			                              <td><input  type="checkbox"  class="checkbox_io" ng-click="updateSelection($event,entity.id)"></td>
				                          <td>{{entity.id}}</td>
									      <td>{{entity.username}}</td>
									      <td>{{entity.email}}</td>
									      <td>{{entity.phone}}</td>
		                                  <td>{{status[entity.status]}}</td>
                                          <td class="text-center">
                                              <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" ng-click="findOne(entity.id)" >Edit</button>
                                          </td>
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->                        
							  
							 
                        </div>
                        <!-- 数据表格 /-->
                        <!-- 分页 -->
						<tm-pagination conf="paginationConf"></tm-pagination>
                        
                     </div>
                    <!-- /.box-body -->
  <!-- 编辑窗口 -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" >
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h3 id="myModalLabel">Edit</h3>
              </div>
              <div class="modal-body">
                  <table class="table table-bordered table-striped"  width="800px">
                      <tr>

                          <td>UserID</td>

                          <td>
                              {{entity.id}}
                          </td>

                      </tr>
                      <tr>

                          <td>username</td>

                          <td>{{entity.username}}</td>

                      </tr>
                      <tr>

                          <td>email</td>
                          <td><input  class="form-control" ng-model="entity.email" placeholder="{{entity.email}}" > </td>

                      </tr>
                      <tr>
                          <td>phone</td>
                          <td><input  class="form-control" ng-model="entity.phone" placeholder="{{entity.phone}}" ></td>
                      </tr>
                      <tr>
                          <td>status</td>
                          <td> <input type="checkbox" ng-model="entity.status" ng-true-value="1" ng-false-value="0"/>
                          </td>
                      </tr>
                      <tr>

                          <td>head picture</td>

                          <td>
                              <input type="file" id="file"/>
                              <input type="button" value="Upload" ng-click="uploadFile()"/>
                              <img src="{{entity.headPic}}" width="200" height="100">
                          </td>

                      </tr>
                      <!--<tr>

                          <td>{{'100127'|T}}</td>

                          <td>
                              <input type="checkbox" ng-model="entity.status" ng-true-value="1" ng-false-value="0"/>
                          </td>

                      </tr>
                      <tr>

                          <td>{{'100031'|T}}</td>

                          <td><input  class="form-control" ng-model="entity.sortOrder" placeholder="{{'100031'|T}}" ></td>

                      </tr>-->

                  </table>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">Save</button>
                  <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
              </div>
          </div>
      </div>
  </div>


</body>

</html>